<div
  id="contact"
  class="relative overflow-hidden min-h-screen max-w-screen p-16 pb-[16rem] bg-default"
>
  <app-page-title
    label="Get in touch"
    icon="comment"
    reference="contact"
  ></app-page-title>

  <app-decoration-circle
    [size]="'large'"
    [xPos]="'right'"
    [yPos]="'top'"
  ></app-decoration-circle>

  <app-decoration-circle
    [size]="'medium'"
    [xPos]="'left'"
    [yPos]="'bottom'"
  ></app-decoration-circle>

  <app-decoration-grid
    [xPos]="'left'"
    [yPos]="'top'"
  >
  </app-decoration-grid>

  <div class="relative w-3/4 mx-auto z-[1]">
    <div class="flex justify-center items-center pt-16">
      <form class="w-full" [formGroup]="contactForm">
        <div class="grid grid-cols-2 gap-7 w-full">

          <div>
            <span class="p-float-label w-full">
              <input
                pInputText
                class="p-inputtext-lg w-full font-default bg-card text-white border-neutral-800 border-2 focus:outline-none focus:shadow-none focus:border-green-400"
                id="contactName"
                name="name"
                type="text"
                formControlName="name"
                maxlength="{{maxNameLength}}"
              />
              <label
                htmlFor="contactName"
                class="font-title text-green-400"
              >
                * Name
              </label>
            </span>
          </div>

          <div>
            <span class="p-float-label w-full">
              <input
                pInputText
                class="p-inputtext-lg w-full font-default bg-card text-white border-neutral-800 border-2 focus:outline-none focus:shadow-none focus:border-green-400"
                id="contactEmail"
                name="email"
                type="email"
                formControlName="email"
              />
              <label
                htmlFor="contactEmail"
                class="font-title text-green-400"
              >
                * Email
              </label>
            </span>
          </div>

          <div class="col-span-2">
            <span class="p-float-label w-full">
              <textarea
                pInputTextarea
                class="p-inputtext-lg min-h-[20rem] w-full font-default bg-card text-white border-neutral-800 border-2 focus:outline-none focus:shadow-none focus:border-green-400"
                id="contactMessage"
                name="message"
                [autoResize]="true"
                formControlName="message"
                minlength="{{minMessageLength}}"
                maxlength="{{maxMessageLength}}"
                ></textarea>
              <label
                for="contactMessage"
                class="font-title text-green-400"
              >
                * Message
              </label>
            </span>
            <div class="text-sm text-neutral-400">
              {{contactForm.controls['message'].value?.trim()?.length ?? 0}} /
              <span class="text-green-400">{{maxMessageLength}}</span>
            </div>
          </div>

          <div
            class="col-span-2 flex justify-start flex-wrap gap-4"
            *ngIf="formErrors.length > 0"
          >
            <p-message
              *ngFor="let errorMessage of formErrors"
              severity="error"
              text="{{errorMessage}}"
              styleClass="bg-card shadow-3"
            ></p-message>
          </div>

          <div class="col-span-2 flex justify-center items-center">
            <p-toast position="bottom-center"></p-toast>
            <p-button
              styleClass="p-button-lg p-button-outlined p-button-success {{contactForm.valid && 'pulse'}}"
              [attr.pRipple]="contactForm.valid"
              [loading]="isLoading"
              [disabled]="!contactForm.valid"
              label="Submit"
              icon="pi pi-upload"
              iconPos="right"
              (click)="handleContactFormSubmit()"
              [pTooltip]="!contactForm.valid ? 'Fill all required fields': ''"
              tooltipPosition="top"
            >
            </p-button>
          </div>

        </div>
      </form>
    </div>
  </div>

</div>
