<div
  id="contact"
  class="relative overflow-hidden min-h-screen max-w-screen p-8 m-0 bg-default"
>
  <app-page-title
    label="Contact Me"
    icon="comment"
    reference="contact"
  ></app-page-title>

  <app-decoration-circle
    [size]="'large'"
    [xPos]="'right'"
    [yPos]="'top'"
  ></app-decoration-circle>

  <app-decoration-circle
    [size]="'medium'"
    [xPos]="'left'"
    [yPos]="'bottom'"
  ></app-decoration-circle>

  <app-decoration-grid
    [xPos]="'left'"
    [yPos]="'top'"
  >
  </app-decoration-grid>

  <div class="relative w-8 mx-auto z-1">
    <div class="text-white text-4xl text-center pt-4">
      Have a question? Feel free to ask!
    </div>

    <div class="flex justify-center items-center pt-8">
      <form [formGroup]="contactForm">
        <div class="grid">
          <div class="col-6">
            <span class="p-float-label w-full">
              <input
                pInputText
                class="p-inputtext-lg"
                id="contactName"
                name="name"
                type="text"
                formControlName="name"
                maxlength="{{maxNameLength}}"
              />
              <label htmlFor="contactName">* Name</label>
            </span>
          </div>
          <div class="col-6">
            <span class="p-float-label w-full">
              <input
                pInputText
                class="p-inputtext-lg"
                id="contactEmail"
                name="email"
                type="email"
                formControlName="email"
              />
              <label htmlFor="contactEmail">* Email</label>
            </span>
          </div>
          <div class="col-12 pt-4">
            <span class="p-float-label w-full">
              <textarea
                pInputTextarea
                class="p-inputtext-lg"
                id="contactMessage"
                name="message"
                [autoResize]="true"
                formControlName="message"
                minlength="{{minMessageLength}}"
                maxlength="{{maxMessageLength}}"
                ></textarea>
              <label for="contactMessage">* Message</label>
            </span>
            <div class="text-sm text-500 pt-2">
              {{contactForm.controls['message'].value?.trim()?.length ?? 0}} /
              <span class="text-green-400">{{maxMessageLength}}</span>
            </div>
          </div>
          <div
            class="flex justify-start flex-wrap gap-2 col-12 pt-2 z-1"
          >
            <p-message
              *ngFor="let errorMessage of formErrors"
              severity="error"
              text="{{errorMessage}}"
              styleClass="bg-card shadow-3"
            ></p-message>
          </div>
          <div class="flex justify-center items-center col-12 pt-4 z-1">
            <p-toast position="bottom-center"></p-toast>
            <p-button
              styleClass="p-button-lg p-button-outlined p-button-success {{contactForm.valid && 'pulse'}}"
              [attr.pRipple]="contactForm.valid"
              [loading]="isLoading"
              [disabled]="!contactForm.valid"
              label="Submit"
              icon="pi pi-upload"
              iconPos="right"
              (click)="handleContactFormSubmit()"
              [pTooltip]="!contactForm.valid ? 'Fill all required fields': ''"
              tooltipPosition="top"
            >
            </p-button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
