<div
  id="journey"
  class="relative overflow-hidden min-h-screen max-w-screen p-16 xl:px-14 lg:px-12 md:px-10 sm:px-8 xs:px-4 bg-default"
>
  <app-page-title
    label="My Journey"
    tooltip="Currently I have {{getTotalJourneyDuration()}} of working experience"
    icon="code"
    reference="journey"
  ></app-page-title>

  <app-decoration-circle
    [size]="'medium'"
    [xPos]="'left'"
    [yPos]="'top'"
  ></app-decoration-circle>

  <app-decoration-circle
    [size]="'small'"
    [xPos]="'right'"
    [yPos]="'top'"
  ></app-decoration-circle>

  <app-decoration-grid
    [xPos]="'right'"
    [yPos]="'bottom'"
  >
  </app-decoration-grid>

  <div class="relative mt-8 mx-auto overflow-x-auto w-full z-[1]">
    <p-timeline
      [value]="journeyData"
      align="{{isLargeBreakpoint ? 'top' : 'alternate'}}"
      layout="{{isLargeBreakpoint ? 'horizontal' : 'vertical'}}"
    >
      
      <ng-template pTemplate="marker">
        <div
          class="flex justify-center items-center w-1rem h-1rem p-4 text-green-400"
        >
          <i class="pi pi-clock text-2xl"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="opposite" let-journey>
        <div
          class="text-white line-height-1 font-title text-xl lg:text-sm pt-[0.85rem]"
        >
          {{getJourneyDuration(journey)}}
        </div>
      </ng-template>

      <ng-template pTemplate="content" let-journey>
        <div class="pb-8 lg:pb-0 lg:mr-8 lg:w-[28rem]">
          <div appMouseParallax [parallaxIntensivity]="8">
            <div
              class="font-default shadow-2xl border-b-4 border-b-green-400 bg-card p-4 select-none"
            >
              <h2 class="font-title font-bold text-3xl lg:text-xl text-green-400">
                {{ journey.employerName }}
              </h2>
              <div class="text-xl lg:text-lg text-white">
                {{ journey.jobTitle }}
              </div>
              <div class="text-xl lg:text-lg text-green-400 pt-4">
                {{ journey.employedAt | date: 'MMM y' }} -
                {{ journey.leaveAt | date: 'MMM y' }}
              </div>
              <p class="pb-0 text-xl lg:text-lg text-white">
                {{journey.shortDescription}}
              </p>
              <div class="pt-4">
                <p-button
                  styleClass="p-button-success p-button-outlined pulse details-button"
                  icon="pi pi-eye"
                  label="Show Details"
                  (click)="onLearnMoreClick($event, journey)"
                >
                </p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

    </p-timeline>
  </div>

  <p-dialog
    header="Header"
    styleClass="fullscreen-dialog"
    [(visible)]="journeyModalDetails.isVisible"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
  >

    <ng-template pTemplate="header">
      <h2 class="relative pl-4 border-l-green-400 border-l-4" [ngStyle]="{ zIndex: 2205 }">
        <div class="text-4xl xl:text-3xl text-green-400 font-bold font-title mr-2">
          {{journeyModalDetails.data?.jobTitle}}
        </div>
        <div class="text-2xl xl:text-xl text-neutral-300 font-bold font-title">
          {{journeyModalDetails.data?.employerName}}
        </div>
      </h2>

      <app-decoration-grid
        [xPos]="'left'"
        [yPos]="'top'"
      >
      </app-decoration-grid>

      <app-decoration-circle
        [size]="'medium'"
        [xPos]="'right'"
        [yPos]="'top'"
      ></app-decoration-circle>
    </ng-template>

    <div class="flex lg:block lg:w-9/12 sm:w-full justify-between relative" [ngStyle]="{ zIndex: 2205 }">
      <div class="w-3/5 xl:w-7/12 lg:w-full space-y-8">
        <p
          class="text-xl text-white font-default pl-4 border-l-green-400 border-l-4"
          *ngFor="let descriptionSegment of getDescriptionSegments(journeyModalDetails.data?.description)"
        >
          {{descriptionSegment}}
        </p>
      </div>
      <div class="w-2/5 pl-32 xl:w-5/12 xl:pl-16 lg:pl-0 lg:w-full lg:pt-8">

        <div class="text-white text-2xl flex justify-start items-center">
          <div class="flex justify-start items-center">
            <div class="text-green-400 font-title">
              <div>From</div>
              <div>To</div>
              <div class="pt-3">Total</div>
            </div>
            <div class="pl-3">
              <div>
                {{journeyModalDetails.data?.startedAt | date: 'MMM, y'}}
              </div>
              <div *ngIf="journeyModalDetails.data?.endedAt">
                {{journeyModalDetails.data?.endedAt | date: 'MMM, y'}}
              </div>
              <div *ngIf="!journeyModalDetails.data?.endedAt">
                Present
              </div>
              <div class="pt-3">
                {{getJourneyDuration(journeyModalDetails.data)}}
              </div>
            </div>
          </div>
        </div>

        <div class="pt-8">
          <div
            *ngFor="let skill of journeyModalDetails.data?.skills"
            class="inline-block mr-3 mb-3"
          >
          <p-chip
            label="{{skill}}"
            styleClass="select-none cursor-default text-lg transparent-chip text-green-400 font-bold border-green-400 border-2 rounded-full"
          ></p-chip>
          </div>
        </div>
      </div>
    </div>

    <app-decoration-grid
      [xPos]="'right'"
      [yPos]="'bottom'"
    >
    </app-decoration-grid>

    <app-decoration-circle
      [size]="'small'"
      [xPos]="'left'"
      [yPos]="'bottom'"
    ></app-decoration-circle>

  </p-dialog>

</div>