<div
  class="page__title relative text-white font-title z-1"
  [attr.icon]="icon"
  [attr.reference]="reference"
  [attr.label]="label"
>
  <h2
    class="text-6xl flex items-center"
    [ngClass]="{
      'justify-start': position === 'left',
      'justify-end': position === 'right',
      'justify-center': position === 'center'
    }"
  >
    <div
      class="flex justify-center items-center line-height-4 border-bottom-3 border-green-400"
      [ngStyle]="{
        width: 'fit-content'
      }"
    >
      <div class="pr-3">
        <i class="pi pi-{{icon}} text-6xl text-green-400"></i>
      </div>
      <div>
        {{label}}
      </div>
      <div class="pl-4" *ngIf="tooltip">
        <i
          class="pi pi-info-circle cursor-pointer"
          pTooltip="{{tooltip}}" tooltipPosition="top"
          [ngStyle]="{
            fontSize: '2.5rem',
            color: 'var(--green-400)'
          }"
        ></i>
      </div>
    </div>
  </h2>
</div>