<div
  class="page__title relative text-white font-title z-[1]"
  [attr.icon]="icon"
  [attr.reference]="reference"
  [attr.label]="label"
>
  <h2
    class="text-5xl font-bold flex items-center"
    [ngClass]="{
      'justify-start': position === 'left',
      'justify-end': position === 'right',
      'justify-center': position === 'center'
    }"
  >
    <div
      class="flex justify-center pb-6 items-center border-b-4 border-b-green-400 w-fit"
    >
      <div class="pr-3">
        <i class="pi pi-{{icon}} text-4xl text-green-400"></i>
      </div>
      <div>
        {{label}}
      </div>
      <div class="pl-4" *ngIf="tooltip">
        <i
          class="pi pi-info-circle pulse rounded-full cursor-pointer text-4xl text-green-400"
          pTooltip="{{tooltip}}" tooltipPosition="top"
        ></i>
      </div>
    </div>
  </h2>
</div>