<div
  class="relative flex justify-center items-center overflow-hidden min-h-screen max-w-screen px-16 xl:px-14 lg:px-12 md:px-10 sm:px-8 xs:px-4 text-white bg-default"
>
  <app-decoration-grid
    [yPos]="'bottom'"
    [xPos]="'left'"
  ></app-decoration-grid>

  <app-decoration-circle
    [yPos]="'top'"
    [xPos]="'right'"
    [size]="'large'"
  ></app-decoration-circle>

  <app-decoration-circle
    [size]="'medium'"
    [xPos]="'left'"
    [yPos]="'top'"
  ></app-decoration-circle>

  <div class="relative z-[1] flex flex-auto justify-center items-center">
    
    <div class="font-title w-1/2 lg:w-3/5 md:w-full">
      <div class="text-2xl text-green-400">
        Hi, my name is
      </div>
      <h1 class="text-6xl xl:text-5xl lg:text-4xl font-bold pt-6">
        Kirill Kesarev<span class="text-green-500">.</span>
      </h1>
      <div class="text-5xl xl:text-4xl lg:text-4xl text-300">
        I<span class="text-green-500">'</span>m
        Node<span class="text-green-500">.</span>js
        Developer
      </div>
      <div class="pt-6 font-default text-lg tracking-wider text-neutral-200">
        Self-educated since 2017 year. Experienced
        in FullStack development too, but one who's really love challenges
        that brings Backend Node.js applications
      </div>
      <div class="relative pt-6">
        <p-button
          styleClass="p-button-outlined p-button-success"
          label="Learn More"
          icon="pi pi-search"
          iconPos="right"
          (click)="handleLearnMore()"
        >
        </p-button>
      </div>
    </div>

    <div class="flex w-1/2 lg:w-2/5 md:hidden justify-center items-center">
      <img
        class="w-[14rem] h-[14rem] lg:w-[8rem] lg:h-[8rem] rotate drop-shadow-2xl"
        src="/assets/images/node-icon.png"
        (dragstart)="handleDrag()"
      >
    </div>

  </div>

  <div
    class="absolute bottom-0 left-50 font-title text-xs text-neutral-400 uppercase blink"
  >
    <div class="line-height-4">Scroll down</div>
    <div class="text-center"><i class="pi pi-angle-down"></i></div>
  </div>
</div>