<main>
  <app-navigation></app-navigation>

  <header>
    <app-welcome-screen></app-welcome-screen>
  </header>
  
  <app-block-separator></app-block-separator>

  <app-skills></app-skills>
  
  <app-block-separator
    direction="left"
    sourceColorName="dark"
    targetColorName="default"
  ></app-block-separator>
  
  <app-experience></app-experience>

  <app-block-separator></app-block-separator>

  <app-contact></app-contact>

  <app-block-separator
    direction="left"
    sourceColorName="dark"
    targetColorName="default"
  ></app-block-separator>
</main>