<div
  id="skills"
  class="relative overflow-hidden min-h-screen max-w-screen p-8 m-0 bg-default"
>
<app-page-title
  label="Skills"
  position="left"
></app-page-title>

<app-decoration-circle
  [color]="'light'"
  [size]="'small'"
  [xPos]="'left'"
  [yPos]="'top'"
></app-decoration-circle>

<app-decoration-circle
  [color]="'light'"
  [size]="'medium'"
  [xPos]="'right'"
  [yPos]="'bottom'"
></app-decoration-circle>

<app-decoration-grid
  [color]="'light'"
  [xPos]="'left'"
  [yPos]="'bottom'"
  >
</app-decoration-grid>

<app-decoration-grid
  [color]="'light'"
  [xPos]="'right'"
  [yPos]="'top'"
  >
</app-decoration-grid>

</div>