nav { 
  background-color: transparent;
  z-index: 100;
  padding: 1rem 0;
  transition: .3s ease;

  .mail-container {
    transition: .3s ease;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 6px;
      height: 100%;
      background-color: var(--green-400);
      transform: translate(0, -110%);
      transition: .3s ease;
    }
  }

  &.in-motion {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    padding: 1.5rem 0 2rem 0;
    background-color: rgba(0, 0, 0, 0.3);

    .mail-container {
      &::before {
        transform: translate(0, 0);
        transition-delay: .1s;
      }
    }
  }

  .scroll-indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 4px;
    background-color: var(--green-400);
    transition: height .5s ease-out;
  }
}