<nav
  class="fixed left-0 top-0 w-full px-8 text-white font-title text-4xl"
  [ngClass]="{
    'in-motion': isPageScrolled
  }"
>
  <div
    class="scroll-indicator max-h-full"
    [ngStyle]="{ height: pageScrolledPercents + '%'}"
    [ngClass]="{
      'hidden': !isPageScrolled
    }"
  >
  </div>

  <div class="flex justify-content-between align-items-center">
    <div
      class="mail-container relative flex align-items-center"
      [ngClass]="{
        'pl-3': isPageScrolled
      }"
    >
      <a
        href="mailto:{{email}}"
        class="no-underline font-bold font-default text-lg text-white hover:text-green-400 transition-duration-300 transition-ease-in-out"
      >
        {{email}}
      </a>
    </div>
    <div>
      <p-button
        icon="pi pi-bars"
        styleClass="p-button-lg p-button-rounded p-button-success p-button-text"
        (click)="showSidebar()"
      ></p-button>
    </div>
  </div>
</nav>

<p-sidebar
  [(visible)]="isSidebarVisible"
  styleClass="w-4 bg-default text-white"
  position="right"
>

  <ng-template pTemplate="header">
    <h2 class="relative pl-3 font-title">Kirill Kesarev</h2>
  </ng-template>

  <ng-template pTemplate="content" styleClass="pt-4">
    <hr class="border-800 border-top-1 border-solid">

    <div class="pt-2">
      <ul class="text-green-400 list-none">
        <li
          class="pt-2"
          *ngFor="let navlink of navlinks"
        >
          <p-button
            styleClass="p-button-success p-button-text"
            (onClick)="onNavlinkClick(navlink.reference)"
          >
            <i class="pi pi-{{navlink.icon}} text-2xl"></i>
            <span class="text-2xl font-title font-bold pl-3 text-200">
              {{navlink.label}}
            </span>
          </p-button>
        </li>
      </ul>
    </div>
  </ng-template>

</p-sidebar>