nav {
  .mail-container {
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 6px;
      height: 100%;
      background-color: var(--green-400);
      transform: translate(0, -110%);
      transition: .3s ease;
    }
  }

  &.in-motion {
    background-color: rgba(0, 0, 0, 0.3) !important;

    .mail-container {
      &::before {
        transform: translate(0, 0);
        transition-delay: .1s;
      }
    }
  }
}