<nav
  class="fixed left-0 top-0 w-full px-8 pt-2 text-white font-title text-4xl z-[100] duration-300 ease bg-transparent"
  [ngClass]="{
    'in-motion backdrop-blur pt-6 pb-8': isPageScrolled
  }"
>
  <div
    class="max-h-full w-[4px] left-0 top-0 absolute bg-green-400 transition-[height] duration-300 ease-out"
    [ngStyle]="{ height: pageScrolledPercents + '%'}"
    [ngClass]="{
      'hidden': !isPageScrolled
    }"
  >
  </div>

  <div class="flex justify-between items-center">
    <div
      class="mail-container relative flex items-center duration-300 ease overflow-hidden"
      [ngClass]="{
        'pl-3': isPageScrolled
      }"
    >
      <a
        href="mailto:{{email}}"
        class="inline no-underline font-bold font-default text-lg text-white hover:text-green-400 duration-300 ease-in-out"
      >
        {{email}}
      </a>
    </div>
    <div>
      <p-button
        icon="pi pi-bars"
        styleClass="p-button-lg p-button-rounded p-button-success p-button-text"
        (click)="showSidebar()"
      ></p-button>
    </div>
  </div>
</nav>

<p-sidebar
  [(visible)]="isSidebarVisible"
  styleClass="w-4/12 bg-default text-white"
  position="right"
>

  <ng-template pTemplate="header">
    <h2 class="relative pl-3 font-title font-bold text-2xl">
      Kirill Kesarev
    </h2>
  </ng-template>

  <ng-template pTemplate="content" styleClass="pt-4">
    <hr class="border-t-gray-600 border-solid">

    <div class="pt-2">
      <ul class="text-green-400">
        <li
          class="pt-2"
          *ngFor="let navlink of navlinks"
        >
          <p-button
            styleClass="p-button-success p-button-text"
            (onClick)="onNavlinkClick(navlink.reference)"
          >
            <i class="pi pi-{{navlink.icon}} text-xl"></i>
            <span class="text-xl font-title font-bold pl-3 text-white">
              {{navlink.label}}
            </span>
          </p-button>
        </li>
      </ul>
    </div>
  </ng-template>

</p-sidebar>