<div
  class="block absolute z-0 square border-circle border-3 select-none bg-white opacity-10"
  (dragstart)="handleDrag()"
  [ngClass]="{
    'bottom-0': yPos === 'bottom',
    'top-0': yPos === 'top',
    'left-0': xPos === 'left',
    'right-0': xPos === 'right',
    'center-top-left': (yPos === 'top') && (xPos === 'left'),
    'center-top-right': (yPos === 'top') && (xPos === 'right'),
    'center-bottom-right': (yPos === 'bottom') && (xPos === 'right'),
    'center-bottom-left': (yPos === 'bottom') && (xPos === 'left')
  }"
  [ngStyle]="{
    width: size,
    minWidth: '8rem',
    zIndex
  }"
></div>